@section Scripts{
    <script src="~/js/serviceapidepartamentos.js"></script>
    <script>
        //var urlApi = "https://apicorecruddepartamentos2023xzx.azurewebsites.net/";
        $(document).ready(function () {

            getJsonDepartamentosAsync(function (data) {
                console.log(data);
                cargarTablaDepartamentos();
            });



            cargarDepartamentos();
            $("#botondelete").click(function () {
                var id = $("#cajaid").val();
                eliminarDepartamentoAsync(id, function(){
                    cargarTablaDepartamentos();
                });
            });

            $("#botoninsertar").click(function () {
                var num = parseInt($("#cajaid").val());
                var nom = $("#cajanombre").val();
                var loc = $("#cajalocalidad").val();
                insertarDepartamentoAsync(num, nom, loc, function(){
                    cargarTablaDepartamentos();
                })
            })

            $("#botonupdate").click(function () {
                var num = parseInt($("#cajaid").val());
                var nom = $("#cajanombre").val();
                var loc = $("#cajalocalidad").val();
                 actualizarDepartamentoAsync(num, nom, loc, function(){
                    cargarTablaDepartamentos();
                })
            })



        })

        function cargarTablaDepartamentos() {
            getJsonDepartamentosAsync(function(data){
                console.log(data);
                var html = "";
                $.each(data, function (index, dept) {
                    html += "<tr>";
                    html += "<td>" + dept.idDepartamento + "</td>";
                    html += "<td>" + dept.nombre + "</td>";
                    html += "<td>" + dept.localidad + "</td>";
                    html += "</tr>";
                    $("#tabladepartamentos tbody").html(html);
                })
            })
        }

        function convertDepartamentoJson(num, nom, loc) {
            var dept = new Object();
            dept.idDepartamento = num;
            dept.nombre = nom;
            dept.localidad = loc;
            var objjson = JSON.stringify(dept);
            return objjson;
        }


    </script>
}

<h1 style="color:blue">Api CRUD departamentos Cliente</h1>
<label>Id departamento:</label>
<input type="text" id="cajaid" class="form-control" />
<label>Nombre:</label>
<input type="text" id="cajanombre" class="form-control" />
<label>Localidad:</label>
<input type="text" id="cajalocalidad" class="form-control" />
<button type="button" id="botoninsertar" class="btn btn-outline-dark">
    Insert
</button>
<button type="button" id="botonupdate" class="btn btn-outline-info">
    Update
</button>
<button type="button" id="botondelete" class="btn btn-outline-danger">
    Delete
</button>
<hr />
<table class="table table-bordered" id="tabladepartamentos">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Localidad</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
